#hh{
	color:#FD8167;
	font-size:50px;
	text-align:center;
	background-color:#CCE8FF;
	background-size:cover;
	background-image:url("/image/22.jpg");
	
	
}
#hhhh{
	color:#A6CAF0;
	font-size:100px;
	text-align:center;
}