#maincontainer{
    width:80%;
    height:400px;
    background:#4899CE;
    margin: 0 auto;
}
#headercontainer{
    width:100%;
    height:80px;
    background:#F1C88C;
    margin: 0 auto;
    
}*
#bodycontainer{
    width:100%;
    height:270px;
    background:#F6A119;
    margin: 0 auto;
    
}
#left{
    width:20%;
    height:270px;
    background:#162837;
   float: left;
    
}*
#middel{
    width:30%;
    height:270px;
    background:#FFB0A9;
    float: left;
    
}
#right{
    width:50%;
    height:270px;
    background:#F25022;
     float:left;
  
    
}
.lll{
    color:#0078D7;
    
}




#footercontainer{
    width:100%;
    height:20px;
    background:#BB7A74;
    margin: 0 auto;
    
}
#footertopcontainer{
    width:100%;
    height:20px;
    background:#00050A;
    margin: 0 auto;
    
}
#copyright{
    width:100%;
    height:30px;
    background:#241F21;
    margin: 0 auto;
}
    

