#ho{
    width:80%;
    height:500px;
    margin: auto;
    background-color:#C0DCF3;
    
}
#head{
    width:80%;
    height:100px;
    background-color: #594F3B;
}
#body{
    width:80%;
    height:400px;
    background-color: #ACDD7C;
}