
#wrapper{
    width:80%;
    height:auto;
    margin: 0 auto;
  
    
}
#SlickBlue{
    width:100%;
    height:120px;
    background-color: #FF1B2D;
}
#headleft{
    width:10%;
    height:120px;
    background-color: #39968E;
    float: left;
}
#headtight{
    width:90%;
    height:120px;
    background-color: #FF1B2D;
    float: left;
}
#heading{
    font-size: 30px;
    text-align: center;
     color: #00A7E4;
   
    
    
}
#heading5{
    font-size: 20px;
    text-align: center;
    font-style: italic;
    color: #B9DF93;
    
    
}          
#manu{
   width:100%;
    height:30px; 
    background-color: #C4BA38;
}
#manu a{
    text-decoration: none;  
    padding: 0px 25px; 
    line-height: 2;
    color: #0E1718;
    font-weight: 900;
    text-justify: auto;
   
    
}
     /**************body start************/          
#body{
    
    width:100%;
    height:250px;
    background-color: #00AAE8;
}
#left{
    width:20%;
    height:250px;
    background-color: #607D8B;
    float: left;
    
}

.course{
    color: #FFFFFF;
    font-size: small;
     float: left;
     margin: 0
         
}

.course h2 {
    margin: 0;
     padding:0px 5px;
    color: #ffce45;
  
}

#middel{
 background-color: #0078d7;
float: left;
height: 250px;
width: 50%;
}
#middel h2,p{
   margin: 0;
padding: 0 10px;
 
}

#rignt{
    width:30%;
    height:250px;
    background-color: #ED9918;
    float: left;
}
#rignt p {
    color: #ffffff;
    padding: 0 5px;
}
/**************body end*****************************/
#footer{
    width:100%;
    height:100px;
    background-color: #FFCE42;
}
.fleft {
     width:27%;
    height:100px;
     float: left;
     font-size:small;
     background-color: #F9E462;
     
}
.fleft  h3{
    padding: 0px 15px;
     margin: 0;
}
.fmiddel {
     width:33%;
    height:100px;
     float: left;
     
    font-size:small;
    background-color: #8E9600;
   
}
.fmiddel  h3,ul,li{
     padding: 0px 15px;
     margin: 0;
}
.fright {
     width:40%;
    height:100px;
     float: left;
     font-size:small;
     background-color: #C0DCF3;
 }
 .fright h3,ul {
     padding: 0px 20px;
     margin: 0;
   
}


#address{
    width:100%;
    height:40px; 
    background-color: #00AAE8;
    font-size: 14px;
    line-height: 3;
}